<!DOCTYPE html>
<html>
  <head>
  	<title>User Auth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css">
    form {
    	position: relative;
    	margin: 150px auto;
    	width: 300px;
    }
    form h3 {
    	margin-bottom: 20px;
    }
    form span.error {
    	color: #d9534f;	
    }
    form span.success {
    	color: #5cb85c;
    }
    </style>
  </head>
  <body>
  	<div class="container">
      <%= yield %>
    </div>
  </body>
</html>