<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>Suffragist</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet'/>
    <link rel="stylesheet" href="/styles/main.css" type='text/css'>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    <header>LiveText</header>
    <article><%= @username %>, welcome to LiveText!</article>
    <footer>Copyright LiveText @2015</footer>
  </body>
</html>
