!!!
%html
	%head
		%meta(content="text/html; charset\=utf-8" http-equiv="Content-Type")
		%title Simple Sinatra
	%body
		%div
			%p
				%span
					Login
				%a(href="/new") Register
			%form(method="post" action="/sessions")
				%input(name="username" type="text")
				%input(name="password" type="password")
				%button(type="submit")
					Submit
			- if defined?(message)
				%p
					= message
			- if defined?(users)
				%table
					%thead
						%th
							Username
						%th
							Password
					%tbody
						- users.each do |user|
							%tr
								%td
									= user.username
								%td
									= user.password
