<!DOCTYPE html>
<html>
  <head>
    <title>Advanced Ruby Training Login</title>
  </head>
  <body>
    <h2>Welcome to Advanced Ruby Training</h2>
    <p>Please login or <a href='register'>register</a></p>
    <form class="login" action="login" method="post">
      <label for="username">name:</label>
      <input type="text" name="name" value="">
      <label for="password">password:</label>
      <input type="password" name="password" value="">
      <input type="submit" name="name" value="login">
    </form>
  </body>
</html>
