<!DOCTYPE html>
<html>
  <head>
    <title>Advanced Ruby Training Register</title>
  </head>
  <body>
    <h2>Please input your name and password</h2>
    <form class="register" action="/user/new" method="post">
      <label for="name">name:</label>
      <input type="text" name="name" value="">
      <label for="password">password:</label>
      <input type="password" name="password" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
