<!DOCTYPE html>
<html>
  <head>
    <title>Advanced Ruby Training Login</title>
  </head>
  <body>
    <h2>This is a secret page, you shouldn't see it unless you already login.</h2>
    <p>Your name is: <%= session[:user_name] %></p>
  </body>
</html>
